<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us...</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site created by Santosh Sambhavani. It uses data from mapbox.com and weatherstack.com.... Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quis natus minus illum quaerat blanditiis iste adipisci quo nihil eos accusamus minima culpa, odit tempore tenetur suscipit, inventore ratione modi? </p>
        <img src={{img}} alt="" class="portrait">
    </div>
        {{>footer}}
</body>

</html>