<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>use this site to get ypur weather...</p>
        <form>
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>
        <p id="msg1"></p>
        <p id="msg2"></p>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>